body {
    background-color: #F6F9FE;
}
h1, h3 {
    color: #333;
}
.card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
#sentimentChart {
    width: 250px !important;
    height: 250px !important;
}
